.description {
  margin: 150px 0;
}

.description__meet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.description__heading {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
  position: relative;
}
.description__heading span {
  display: inline-block;
  color: #f1802d;
  font-weight: bold;
  font-size: 40px;
  animation: shake 1s ease-in-out infinite;
}

.description__text {
  margin: 0;
  font-size: 17px;
  line-height: 150%;
  border-left: 1px solid #f1802d;
  padding-left: 15px;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
